//
// These are the base styles for the
// UA Student Affairs Header.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

// Include our mixins
@import "_sa-framework-mixins";

#sa-header-wrapper {
	background: $white;
}

@if $sa-header-include-styles {

	#sa-header-wrapper {
		color: $sa-header-font-color;

		@if $sa-header-padding {
			padding: $sa-header-padding;
		}

		@if $sa-header-bg-color {
			background-color: $sa-header-bg-color;
		}

		a {
			color: inherit;
		}

		.sa-site-title-wrapper {

			a {
				display: block;
				text-decoration: none;
			}

			.sa-site-title {
				text-transform: none;
				color: inherit;
				margin: 0;

				.line {
					display: block;
				}

			}

		}

	}

	// The first header breakpoint
	@media #{$screen} and (min-width:#{$sa-header-first-breakpoint}) {

		#sa-header-wrapper {

			@if $sa-header-first-bp-padding {
				padding: $sa-header-first-bp-padding;
			}

		}

	}

}