//
// These are the base Foundation SASS settings
// for the UA Student Affairs Framework.
//
// These settings will override the default
// Foundation SASS settings.
//
// SA Framework specific settings will start with $sa-
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include Foundation settings to reuse them
@import '../../../foundation/scss/foundation/_settings';

// Set the row width - content will be 1160px wide with 20px left and right padding
$row-width: 1200px !default;

// Widen the column gutter to 40px - default is 30
$column-gutter: 40px;

// COLORS
// We use these as default colors throughout
$body-bg: #fff !default;
$primary-color: #a02534 !default; //#990000
$secondary-color: #e6e6e6;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;
$black: #000 !default;
$white: #fff !default;
$twitter-blue: #55acee;
$facebook-blue: #3c5998;

// FONTS
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

// Set the base font
$font-family-sans-serif: $open-sans !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$body-font-family: $font-family-sans-serif !default;
$body-font-color: $jet !default; // Which is #222
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;

$base-font-size: 17px !default;
$base-line-height: 150% !default;
$rem-base: $base-font-size; // DO NOT OVERWRITE OR SET AS DEFAULT - LEAVE ALONE

// Headers
$header-font-family: $roboto;
$header-line-height: 1.3;
$h1-font-size: rem-calc(40); // Originally 44
$h2-font-size: rem-calc(32); // Originally 37
// $h3-font-size: rem-calc(27);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

// Breadcrumbs
//$crumb-bg: none;
$crumb-padding: 0;
$crumb-side-padding: 8px;
$crumb-border-size: 0;
$crumb-radius: 0;

// Pagination
$pagination-link-pad: 0 8px;

// Links (Anchors)
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

// Paragraphs
$paragraph-line-height: 1.8 !default;

// FORMS
$form-spacing: rem-calc(8);

// SA Forms
$sa-forms-confirmation-color: #005600;
$sa-forms-confirmation-bg-color: rgba( $sa-forms-confirmation-color, 0.05 );

// SA Banner
$sa-banner-include-styles: true !default;
$sa-banner-min-height: 40px !default;
$sa-banner-bg-color: #f7f7f7 !default;
$sa-banner-red-bg-color: #880000 !default;

// SA Header
$sa-header-include-styles: true !default;
$sa-header-padding: 40px 0 25px 0 !default;
$sa-header-first-bp-padding: 45px 0 40px 0 !default;
$sa-header-bg-color: #770000 !default;
$sa-header-font-color: $white !default;
$sa-header-first-breakpoint: lower-bound($medium-range) !default; // Bottom of medium range

// SA Main Off Canvas Menu
$sa-off-canvas-main-menu-breakpoint: 1100px;
$sa-off-canvas-main-menu-toggle-height: 50px;
$sa-main-menu-toggle-icon-width: 30px;
$sa-main-menu-toggle-icon-bar-height: 2px;
$sa-main-menu-toggle-icon-space-between: 6px;
$sa-main-menu-toggle-icon-height: ( $sa-main-menu-toggle-icon-bar-height * 3 ) + ( $sa-main-menu-toggle-icon-space-between * 2 );

$sa-off-canvas-menu-width: 300px;
$sa-off-canvas-menu-bg: #f5f5f5; //#444;
$sa-off-canvas-menu-item-left-padding: 15px;
$sa-off-canvas-menu-item-right-padding: 15px;
$sa-off-canvas-search-bg: #fff;
$sa-off-canvas-search-height: 37px;
$sa-off-canvas-search-left-padding: 38px;
$sa-off-canvas-search-right-padding: $sa-off-canvas-menu-item-right-padding;

// SA Main Area
$sa-main-sidebar-header-bg-color: #f2f2f2 !default;
$sa-main-vert-sep-color: #f2f2f2 !default;
$sa-main-vert-sep-width: 1px !default;
$sa-main-vert-sep-padding-left: 30px !default;
$sa-main-vert-sep-padding-right: 30px !default;

// SA Submenu
$sa-main-submenu-item-padding: 6px 0 !default;

// SA Footer
$sa-framework-footer-include-styles: true !default;
$sa-framework-footer-fill-bg: true !default; // Whether or not we want the footer color to fill the bottom of the screen
$sa-framework-footer-bg-color: #333 !default;