//
// These are the base styles for the
// UA Student Affairs main area.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

#sa-main {

	.sa-content {

		// Stylize the pagination
		.sa-page-pagination {
			overflow: auto;
			font-size: 0.8em;
			line-height: 2;
			margin: 0 0 15px 0;

			.showing {
				display: block;
				float: left;
				font-size: inherit;
				line-height: inherit;
				vertical-align: top;
			}

			ul.pagination {
				display: block;
				float: right;
				margin: 0;
				font-size: inherit;
				line-height: inherit;

				li {
					font-size: inherit;
					line-height: inherit;
				}

			}

		}

		.sa-content-archive-posts {

			.sa-content-archive-post {
				border-top: 1px solid rgba($black, 0.05);
				padding: 20px 0;

				&:first-child {
					border-top: 0;
					padding-top: 5px;
				}

				*:first-child {
					margin-top: 0;
				}

				*:last-child {
					margin-bottom: 0;
				}

			}

		}

	}

}