//
// These are the base styles for the
// UA Student Affairs Banner.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

@if $sa-banner-include-styles {

	#sa-banner-wrapper {
		font-size: 0.8em;
		line-height: $sa-banner-min-height;
		overflow: auto;
		color: #000;

		@if $sa-banner-bg-color {
			background-color: $sa-banner-bg-color;
		}

		@if $sa-banner-min-height {
			min-height: $sa-banner-min-height;
		}
		
		#sa-banner-breadcrumbs {
			@include reset-ul();
			float: left;
			overflow: auto;
			text-transform: uppercase;
			color: rgba( #000, 0.55 );
			font-size: inherit;
			line-height: inherit;

			// Accessibility - Foundation adds a '/' for some reason
			[aria-hidden="true"]:after {
				content: '';
			}

			li {
				float: left;
				position: relative;
				margin: 0 0 0 7px;
				padding: 0 0 0 12px;
				color: inherit;

				&:before {
					content: '';
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid rgba( #000, 0.55 );
					position: absolute;
					left: 0;
					top: 50%;
					margin: -5px 0 0 0;
				}

				&:first-child {
					margin-left: 0;
					padding-left: 0;

					&:before {
						display: none;
					}

				}

				&.ua {
					color: $primary-color;
				}

				&.sa {
					color: #444;

					&:before {
						border-left-color: #444;
					}

				}

				a {
					display: block;
					color: inherit;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

				}

			}
			
		}

		.sa-banner-right {
			float: right;
			overflow: visible;
		}

		#sa-directory {
			display: block;
			background: darken( $sa-banner-bg-color, 4% );
			float: left;
			height: $sa-banner-min-height;
			line-height: $sa-banner-min-height;
			cursor: pointer;
			position: relative;
			margin: 0;
			opacity: 0.9;
			text-transform: uppercase;
			padding: 0 2px 0 34px;
			text-decoration: none;
			color: inherit;

			.bar {
				background: #000;
				position: absolute;
				top: 13px;
				left: 10px;
				width: 16px;
				height: 2px;
				margin: 0;
				@include set-transition( all .2s ease-out );

				&.two {
					margin-top: 6px;
				}

				&.three {
					margin-top: 12px;
				}

			}

			.toggle-label {
				display: none;
			}

		}

		#sa-help {
			display: block;
			float: left;
			background: url( '../../student-affairs-framework/images/icons/help-black.svg' ) center center no-repeat;
			background-size: auto 17px;
			width: 30px;
			height: $sa-banner-min-height;
			text-indent: -9999px;
			margin-left: 5px;

			&:hover {
				background-color: darken( $sa-banner-bg-color, 4% );
			}

		}

		#sa-search-site {
			display: block;
			float: left;
			background: url( '../../student-affairs-framework/images/icons/magnifying-glass-black.svg' ) center center no-repeat;
			background-size: auto 18px;
			width: 30px;
			height: $sa-banner-min-height;
			text-indent: -9999px;
			margin: 0 -8px 0 0;

			&:hover {
				background-color: darken( $sa-banner-bg-color, 4% );
			}

		}

		&.red-banner {
			background: $sa-banner-red-bg-color;
			color: #fff;


			#sa-banner-breadcrumbs {
				color: rgba( #fff, 0.7 );

				li {

					&:before {
						border-left-color: rgba( #fff, 0.7 );
					}

					&.ua {
						color: rgba( #fff, 0.9 );
					}

				}

			}

			#sa-directory {
				background: #700;

				.bar {
					background: #fff;
				}

			}

			#sa-help {
				background-image: url( '../../student-affairs-framework/images/icons/help-white.svg' );

				&:hover {
					background-color: #700;
				}

			}

			#sa-search-site {
				background-image: url( '../../student-affairs-framework/images/icons/magnifying-glass-white.svg' );

				&:hover {
					background-color: #700;
				}

			}

		}

	}

	@media #{$screen} and (min-width:800px) {

		#sa-banner-wrapper {

			#sa-directory {
				padding-right: 10px;

				.toggle-label {
					display: block;
				}

			}

		}

	}

}