//
// These are the base styles for the
// UA Division Student Affairs Footer.
//
// Our global footer, and its styles,
// have been moved to the main site plugin.

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

@if $sa-framework-footer-include-styles {

	// Make the footer bg color fill the screen
	// Make the main area white to cover the footer bg color that's filling the screen
	@if $sa-framework-footer-fill-bg {

		body {
			background: $sa-framework-footer-bg-color;
		}

		// Wraps around all content
		// Give it the same color as the body bg
		#sa-inside-wrapper {
			background: $body-bg;
		}

	}

}