//
// These are the base SASS mixins for the
// UA Student Affairs Framework.
//

// Will convert the element to a screen reader element
@mixin screen-reader-text() {
	display: block;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
}

// Will reset a <ul>
@mixin reset-ul() {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		margin: 0;
		border: 0;
		padding: 0;
		list-style: none;
	}

}

// Will set placeholder color
@mixin set-placeholder-color( $color ) {

	// WebKit browsers
	&::-webkit-input-placeholder {
		color: $color;
	}

	// Mozilla Firefox 4 to 18
	&:-moz-placeholder {
		color: $color;
		opacity:  1;
	}

	// Mozilla Firefox 19+
	&::-moz-placeholder {
		color: $color;
		opacity:  1;
	}

	// Internet Explorer 10+
	&:-ms-input-placeholder {
		color: $color;
	}

}

// Will set transition values
@mixin set-transition( $transition... ) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// Will set transform values
@mixin set-transform( $transform... ) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

// Will set background-size
@mixin set-background-size( $background-size... ) {
	-webkit-background-size: $background-size;
	-moz-background-size: $background-size;
	-ms-background-size: $background-size;
	-o-background-size: $background-size;
	background-size: $background-size;
}

// Will set shadow
@mixin set-shadow( $box-shadow... ) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	-ms-box-shadow: $box-shadow;
	-o-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

// Print social media icons in a list
@mixin print-social-media-icons-list( $icon_height, $side-padding ) {
	@include reset-ul();
	height: $icon_height;
	line-height: $icon_height;
	text-align: center;

	li {
		display: inline-block;

		a {
			display: block;
			padding: 0 $side-padding;
		}

		.icon {
			display: block;
			width: auto;
			height: $icon_height;
			margin: 0;
		}

		.text {
			@include screen-reader-text();
		}

		&:first-child {

			a {
				padding-left: 0;
			}

		}

		&:last-child {

			a {
				padding-right: 0;
			}

		}

		&.twitter {

			// Because the bird is a little side awkward
			a {
				padding-left: $side-padding + 2;
				padding-right: $side-padding - 1;
			}

		}

	}

}