//
// These are the base styles for the
// UA Student Affairs forms.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

input[type="text"] {
	height: auto;
}

// Style the confirmation messages
.gform_confirmation_wrapper {
	background: $sa-forms-confirmation-bg-color;
	padding: 20px;
	margin: 0 0 $paragraph-margin-bottom;
	color: $sa-forms-confirmation-color
}

.gform_wrapper {

	.gfield_date_day label,
	.gfield_date_month label,
	.gfield_date_year label,
	.gfield_time_ampm label,
	.gfield_time_hour label,
	.gfield_time_minute label,
	.ginput_complex label,
	.instruction {
		margin: .188em 0 1.2em 0 !important;
	}

	.gfield {

		.ginput_container {
			margin-bottom: .8em !important;
		}

		&.gfield_html {

			p {
				font-size: .875em !important;
			}

		}

		.gfield_radio {

			 li {
				 padding-left: 1px !important;
			 }

		}

	}

}