//
// These are the base print styles for the
// UA Student Affairs Framework.
//
// This framework is built on top of
// Foundation by ZURB.
// foundation.zurb.com
// Licensed under MIT Open Source
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

// Include our mixins
@import "_sa-framework-mixins";

// Hide these things
#sa-banner-wrapper,
#sa-main-menu-wrapper,
#sa-main .sa-sidebar,
#sa-page-breadcrumbs {
	display: none;
}

// Decrease the font-size
html, body {
	font-size: 13px !important;
}

body {
	margin: 10mm !important;
}

// Tweaking specific header styles
@if $sa-header-include-styles {

	#sa-header-wrapper {
		padding: 0;
		height: auto;
		min-height: 0 !important;
		margin: 0;

		.sa-site-title-wrapper {
			min-height: 0;
			padding: 0;
			margin: 0;

			a {
				min-height: 0;

				// Remove printed URL
				&:after {
					content: '' !important;
				}

			}

			.sa-site-title {
				width: auto;
				height: auto;
				padding: 0;
				margin: 0;
				overflow: auto;
				text-indent: 0;
			}

		}

	}

}

// Tweaking specific main area styles
#sa-main {
	min-height: 0 !important;
	padding-bottom: 0 !important;

	.sa-content {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

}