//
// These are the base styles for the
// UA Student Affairs main off canvas menu.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

// Include our mixins
@import "_sa-framework-mixins";

// Make sure the charset is set appropriately
@charset "UTF-8";

//! Off Canvas search
#sa-off-canvas-search {
	clear: both;
	display: block;
	height: $sa-off-canvas-search-height;
	background: $sa-off-canvas-search-bg;
	border-top: 1px solid #e9e9e9;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: visible;

	form {
		display: block;
		margin: 0;
		border: 0;
		padding: 0;
		position: relative;

		label {
			margin: 0;
			border: 0;
			padding: 0;
		}

		input {
			margin: 0;
		}

		.search-field {
			background: $sa-off-canvas-search-bg;
			height: $sa-off-canvas-search-height;
			//font-family: $lato;
			font-size: 16px;
			line-height: 32px;
			font-weight: 300;
			box-shadow: none;
			border: 0;
			padding-left: 35px;
			padding-right: $sa-off-canvas-menu-item-right-padding;
			color: #222;
			@include set-placeholder-color( rgba( #000, 0.8 ) );
		}

		.search-submit {
			display: none;
		}

		.search-icon {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: url( '../images/icons/magnifying-glass-black.svg' ) $sa-off-canvas-menu-item-left-padding center no-repeat;
			background-size: auto 18px;
			width: $sa-off-canvas-search-height;
			height: $sa-off-canvas-search-height;
			opacity: 0.7;
		}

	}

}

#sa-off-canvas-main-menu-wrapper {
	background: $sa-off-canvas-menu-bg;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	//border-right: 1px solid #e9e9e9;
	visibility: hidden;
	width: $sa-off-canvas-menu-width;
	height: 100%;
	@include set-transition( all 0.5s );
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	@include set-transform( translate3d( -50%, 0, 0 ) );

	&:after {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba( 0, 0, 0, 0.2 );
		content: '';
		opacity: 1;
		@include set-transition( opacity 0.5s );
	}

	.sa-off-canvas-menu-nav {
		background: none;
		margin: 0;
		border: 0;
		padding: 0;

		.sa-off-canvas-menu-header {
			background: #fff;
			//box-shadow: inset 0 -1px rgba( #000, 0.2 );
			//box-shadow: inset 0px -3px 10px -5px rgba( #000, 0.5 );
			padding: 13px $sa-off-canvas-menu-item-right-padding 15px ( $sa-off-canvas-menu-item-left-padding - 2px );

			a {
				display: block;
			}

			img {
				height: 50px;
				margin: 0;
			}

		}

		h2 {
			margin: 0;
			padding: 0;
			color: rgba( #fff, 0.4 );
			//font-family: $lato;
			font-size: 1.5em;
			line-height: 1;
			font-weight: 300;
			text-shadow: 0 0 1px rgba( 0, 0, 0, 0.1 );
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			border: 0;
			padding: 0;
			list-style: none;
			position: relative;

			li {
				margin: 0;
				border: 0;
				border-top: 1px solid #e9e9e9;
				padding: 0;
				list-style: none;
				font-family: $lato;
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.6rem;
				text-transform: uppercase;
				color: #222; //rgba( #fff, 0.9 );
				position: relative;

				a {
					display: block;
					padding: 12px $sa-off-canvas-menu-item-right-padding 12px $sa-off-canvas-menu-item-left-padding;
					outline: none;
					//box-shadow: inset 0 -1px rgba( #000, 0.2 );
					color: inherit;
					font-family: inherit;
					font-weight: inherit;
					font-size: inherit;
					line-height: inherit;
					text-decoration: none;
					text-shadow: 0 0 1px rgba( #fff, 0.1 );
					//@include set-transition( background 0.5s, box-shadow 0.5s );
				}

				&:first-child {

					a {
						//box-shadow: inset 0 -1px rgba( #000, 0.2 ), inset 0 1px rgba( 0, 0, 0, 0.2 );
					}

				}

				a:hover {
					background: #eee;
					//box-shadow: inset 0 -1px rgba( #000, 0.1 );
				}

				&.menu-item-has-children {

					> a {
						position: relative;
						padding-right: 35px;

						// Stroke
						&:before {
							content: '';
							width: 0;
							height: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid rgba( #000, 0.3 );
							position: absolute;
							right: 15px;
							top: 50%;
							margin: -8px 0 0 0;
						}

						// Fill
						&:after {
							content: '';
							width: 0;
							height: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid $sa-off-canvas-menu-bg;
							position: absolute;
							right: 17px;
							top: 50%;
							margin: -8px 0 0 0;
							@include set-transition( border-left-color 0.5s );
						}

						/*&:hover {

							&:after {
								border-left-color: #363636;
							}

						}*/

					}

				}

			}

			&.sub-menu {
				background: $sa-off-canvas-menu-bg;
				position: absolute;
				left: ( 0 - $sa-off-canvas-menu-width );
				top: 0;
				width: $sa-off-canvas-menu-width;
				@include set-transition( left, 0.5s );
				overflow-y: scroll;

				&.open-sub-menu {
					left: 0;
					z-index: 200;
				}

				li {

					&.menu-item {
						position: relative;

						&:after {
							content: '';
							background:rgba( #fff, 0.2 );
							position: absolute;
							left: $sa-off-canvas-menu-item-left-padding + 5px;
							top: 0;
							width: 1px;
							height: 100%;
						}

						> a {
							padding-left: $sa-off-canvas-menu-item-left-padding + 18px;
						}

						&:last-child {

							&:after {
								height: 55%;
							}

						}

					}

				}

				li.sub-menu-header {
					font-size: 1.2rem;
					line-height: 1.7rem;
					font-weight: 700;
					position: relative;

					&:after {
						content: '';
						background:rgba( #fff, 0.2 );
						position: absolute;
						left: $sa-off-canvas-menu-item-left-padding + 5px;
						bottom: 0;
						width: 1px;
						height: 5px;
					}

					a {
						font-weight: inherit;
					}

				}

				.sub-menu-back {
					display: block;
					background: rgba( #000, 0.1 );
					text-transform: uppercase;
					font-weight: 700;
					font-size: 0.9rem;
					line-height: 1rem;
					color: rgba( #fff, 0.5 );
					padding: 15px $sa-off-canvas-menu-item-right-padding 15px 35px;
					position: relative;
					//box-shadow: inset 0 -1px rgba( #000, 0.1 );
					cursor: pointer;
					@include set-transition( background 0.5s );

					// Fill
					&:after {
						content: '';
						width: 0;
						height: 0;
						border-top: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-right: 6px solid rgba( #fff, 0.5 );
						position: absolute;
						left: 15px;
						top: 50%;
						margin: -6px 0 0 0;
					}

				}

			}

		}

	}

}

#sa-main-menu-wrapper {

	#sa-main-menu-toggle {
		display: block;
		height: $sa-off-canvas-main-menu-toggle-height;
		overflow: hidden;
		font-weight: 500;
		font-size: 19px;
		line-height: $sa-off-canvas-main-menu-toggle-height;
		cursor: pointer;
		text-transform: uppercase;
		position: relative;
		color: #fff;

		.toggle-icon {
			display: block;
			float: left;
			width: $sa-main-menu-toggle-icon-width;
			height: $sa-main-menu-toggle-icon-height;
			cursor: pointer;
			position: relative;
			margin: ( ( $sa-off-canvas-main-menu-toggle-height - $sa-main-menu-toggle-icon-height ) / 2 ) 12px 0 0;

			.bar {
				background: #fff;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: $sa-main-menu-toggle-icon-bar-height;
				margin: 0;
				opacity: 1;
				@include set-transition( all 500ms ease-out );

				&.two {
					margin-top: ( $sa-main-menu-toggle-icon-bar-height + $sa-main-menu-toggle-icon-space-between );
				}

				&.three {
					margin-top: ( $sa-main-menu-toggle-icon-bar-height + $sa-main-menu-toggle-icon-space-between ) * 2;
				}

			}

		}

		.menu-label {
			display: block;
			float: left;
		}
		.menu-label-close {
			display: none;
			float: left;
		}

		&.off-canvas-menu-is-open {
			overflow: visible;

			.menu-label {
				display: none;
			}
			.menu-label-close {
				display: block;
			}

		}

	}

	#sa-main-menu {
		display: none !important;
	}

}

html.has-off-canvas-menu {

	#sa-wrapper {
		width: 100%;
		background: $body-bg;
		position: relative;
		overflow: hidden;
		overflow-y: scroll;
		left: 0;
		@include set-transition( left 0.5s ease );
	}

	&.off-canvas-menu-open {
		height: 100%;

		body,
		//#sa-wrapper, // THIS IS WHAT CAUSED SCROLLING ISSUES ON TOUCH SCREENS
		.sa-off-canvas-menu-content {
			height: 100%;
		}

		#sa-off-canvas-main-menu-wrapper {
			visibility: visible;
			-webkit-transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
			@include set-transform(translate3d(0, 0, 0));

			&:after {
				width: 0;
				height: 0;
				opacity: 0;
				@include set-transition( opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s );
			}

		}

		#sa-wrapper {
			left: $sa-off-canvas-menu-width;
			position: fixed;
			overflow: hidden;

			&:after {
				content: '';
				background: rgba( 0,0,0,0.7 );
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

		}

		#sa-main-menu-toggle {
			display: block !important;

			.toggle-icon {

				// Move everyone to the middle
				.bar {

					// Move to middle and rotate make close sign
					&.one {
						margin-top: ( $sa-main-menu-toggle-icon-bar-height + $sa-main-menu-toggle-icon-space-between ) !important;
						@include set-transform( rotate( 45deg ) );
					}

					// Hide the middle online
					&.two {
						opacity: 0 !important;
					}

					// Move to middle and rotate make close sign
					&.three {
						margin-top: ( $sa-main-menu-toggle-icon-bar-height + $sa-main-menu-toggle-icon-space-between ) !important;
						@include set-transform( rotate( -45deg ) )
					}

				}

			}

		}

	}

}


// When the menu opens
// @TODO figure out how to best implement with child themes
@media #{$screen} and (min-width: $sa-off-canvas-main-menu-breakpoint) {

	#sa-main-menu-wrapper {

		#sa-main-menu-toggle {
			display: none !important;
		}

		#sa-main-menu {
			display: block !important;
		}

	}

	// If off canvas menu is open...
	html.has-off-canvas-menu.off-canvas-menu-open {

		#sa-main-menu-wrapper {

			#sa-main-menu-toggle {
				display: block !important;
			}

			#sa-main-menu {
				display: none !important;
			}

			#sa-main-menu-home {
				display: none !important;
			}

		}

	}

}