// Styles to show the grid lines on the page
// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

#sa-framework-grid-lines {
	display: block;
	z-index: 1000000000;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	.row {
		height: 100%;

		.columns {
			height: 100%;

			.inside-column {
				height: 100%;
				background: rgba(#990000, 0.2);
			}

		}

	}

}