//
// These are the base styles for the
// UA Student Affairs Framework.
//
// This framework is built on top of
// Foundation by ZURB.
// foundation.zurb.com
// Licensed under MIT Open Source
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include our settings
@import "_sa-framework-settings";

// Include our mixins
@import "_sa-framework-mixins";

// Normalize/reset everything
@import '../../../foundation/scss/normalize';

// Include all the things
@import "_sa-framework-foundation";

html {

	&.no-overflow {
		overflow: hidden;
	}

}

// Hide these elements visibly, but make sure they're still viewable by screen readers
.screen-reader-text {
	@include screen-reader-text();
}

// Stylize the "Skip To Content" link
#skip-to-content {
	display: block;
	position: fixed;
	left: -1000px;
	top: -1000px;
	width: 0;
	height: 0;
	text-align: left;
	overflow: hidden;
	z-index: 1000000;

	&:focus, &:active, &:hover {
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		overflow: visible;
		background: #eee;
		color: $black;
		padding: 10px;
	}

}

.column,
.columns {
	min-height: 1px;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

// Stylize the headers
h1 {
	text-transform: uppercase;
	font-weight: 300;

	& + h2 {
		margin-top: 0.5em;
	}

}

h2 {
	font-size: 1.75em;
	//text-transform: uppercase;
}

h3 {
	font-size: 1.4em;
}

// Stylize images and captions
img, .wp-caption {
	max-width: 100%;
	margin: 0 0 $paragraph-margin-bottom 0;

	&.alignright {
		margin: 0 30px 30px 0;
	}

	&.alignright {
		margin: 0 0 30px 30px;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}

}

// Stylize captions
.wp-caption {

	img {
		margin: 0;
	}

	.wp-caption-text {
		display: block;
		margin: 10px 0 0 0;
		font-size: 0.9em;
		line-height: 1.4;
		opacity: 0.7;
	}

}

// Stylize buttons
.button {

	&.alignright {
		margin: 0 30px 30px 0;
	}

	&.alignright {
		margin: 0 0 30px 30px;
	}

}

// Stylize the lists
ul {
	list-style: disc;
}

ul, ol {
	margin-left: 2rem;

	&.lower-alpha {
		margin-left: 2.5em;
		list-style: lower-alpha;
	}

	&.lower-roman {
		margin-left: 2.5em;
		list-style: lower-roman;
	}

	&.upper-alpha {
		margin-left: 2.5em;
		list-style: upper-alpha;
	}

	li {

		ul, ol {
			margin-left: 1.5em;
		}

	}

	// Give more space between lists and <h2>
	& + h2 {
		margin-top: 1em;
	}

}

// Colors
.crimson-text {
	color: #990000;
}

// Stylize the breadcrumbs
.breadcrumbs {
	background: none;
	margin: 0 0 1em 0;

	& > * {
		line-height: 1.4em;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

}

// Stylize iframes
iframe {
	width: 100%;
	border: 0;
	margin: 0 0 $paragraph-margin-bottom 0;
}

p {

	iframe {
		margin-bottom: 0;
	}

}

// Tweak ISSUU embeds
.sa-issuu-embed {
	margin: 0 0 $paragraph-margin-bottom 0;

	// Hide the footer text
	.issuuembed {

		div > div:last-child {
			display: none;
		}

	}

}

// Stylize google search results
.gsc-control-cse {
	border: 0 !important;
	padding: 0 !important;
	font-family: $open-sans !important;

	* {
		font-family: $open-sans !important;
	}

	table {
		background: none !important;
		border: 0 !important;
		margin: 0 !important;

		td {
			padding: 0 !important;
		}

	}

	.gsc-search-box {
		margin: 0 0 10px 0 !important;
		padding: 0 !important;

		input {
			margin: 0 !important;
		}

	}

	// Hide this empty header
	.gsc-resultsHeader {
		display: none !important;
	}

	.gsc-above-wrapper-area {
		border: 1px solid #ebebeb !important;
		padding: 10px 15px !important;
		margin: 0 0 20px 0 !important;

		.gsc-result-info {
			padding: 0 !important;
			margin: 0 !important;
		}

		.gsc-selected-option-container {
			width: auto !important;
		}

	}

	.gsc-results {
		padding: 0 !important;
		margin: 0 !important;

		.gsc-webResult.gsc-result,
		.gsc-results .gsc-imageResult {
			background: none !important;
			border: 0 !important;
			border-top: 1px solid #ebebeb;
			padding: 14px !important;
			margin: 0 0 20px 0 !important;
		}

		.gs-title {
			text-decoration: underline !important;
		}

		.gsc-table-result {
			background: none !important;
			border: 0 !important;
			margin: 0 !important;

			.gsc-thumbnail {
				padding: 2px 10px 0 0 !important;
				text-align: left !important;

				.gs-web-image-box, .gs-promotion-image-box {
					width: auto !important;
					padding: 0 !important;
				}

				.gs-image {
					border: 0 !important;
					max-width: 80px !important;
					max-height: 120px !important;
					margin: 0 !important;
				}

			}

		}

		.gsc-cursor-box {

			.gsc-cursor {

				.gsc-cursor-page {

					&.gsc-cursor-current-page {
						background: #ebebeb !important;
						border: 0 !important;
						text-shadow: none !important;
					}

				}

			}

		}

	}

}

// Style the main wrapper
#sa-inside-wrapper {
	min-height: 100%;
	overflow: auto;
}

// Include the form styles
@import "_sa-framework-forms";

// Include the banner styles
@import "_sa-framework-banner";

// Include the header styles
@import "_sa-framework-header";

// Include the main styles
@import "_sa-framework-main";

// Include the footer styles
@import "_sa-framework-footer";